@import "tailwindcss";

:root[data-theme="default"] {
  --color-primary: #2c7865;
  --color-background: #f4ebd0;
  --color-accent: #e2b846;
  --header-bg: url("/desktop_banner.png");
  --color-primary-90: rgba(44, 120, 101, 0.9);
}

:root[data-theme="Europe"] {
  --color-primary: #1d3286;
  --color-background: #ffffff;
  --color-accent: #fff600;
  --header-bg: url("/europebanner.png");
  --color-primary-90: rgba(29, 50, 134, 0.9);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  background-color: #f4ebd0;
}

main {
  min-height: 100vh;
}

#root {
  background-color: var(--color-background);
}
/* STYLE DU CALENDRIER */

.react-calendar {
  width: 100%;
  border: 2px solid #2c7865;
  border-radius: 1rem;
  padding: 5px;
 
}

.react-calendar__tile {
  padding: 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.5rem;
}

.react-calendar__tile:hover {
  background-color: #2c7865;
}

.react-calendar__tile--active {
  background-color: #2c7865;
  color: white;
}

.react-calendar__tile--now {
  border: 1px solid #000000;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4ebd0;
  border-radius: 0.5rem;
}

.react-calendar__navigation__prev-button,
.react-calendar__navigation__next-button {
  padding: 0.5rem;
  color: #2c7865;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}

.react-calendar__month-view__weekdays__weekday {
  color: #000000;
  padding: 2px;
}

.react-calendar__navigation__arrow {
  size: 10rem;
}

.date-reservee {
  background-color: #ffcccc;
  color: #a00;
}

.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  color: #2c7865;
}

.tile-selected {
  background-color: #2c7865 !important;
  color: white !important;
  border-radius: 10px;
}
.tile-desactivee {
  background-color: #aaa !important;
  color: white !important;
  pointer-events: none;
  border-radius: 10px;
}

.calendar-wrapper-formulaire .react-calendar {
  border: none;
}
